<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
    version="4.0" metadata-complete="true">
    
    <description> Manual Servlet: 编写 编译 部署 运行</description>
    <display-name> First Manual Servlet</display-name>
    <request-character-encoding>UTF-8</request-character-encoding>

    <servlet>
        <servlet-name>ms</servlet-name><!--servlet-name 的值需一致-->
        <servlet-class>ManualServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ms</servlet-name><!--servlet-name 的值需一致-->
        <url-pattern>/manual</url-pattern>
    </servlet-mapping>

</web-app>